{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="m-5">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary btn-block mb-4 botones" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>

        </div>
    {% endif %}
{% endblock %}
